@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.App {
  text-align: center;
  background-color: #E5EBEA
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  padding-left: 200px;
  padding-right: 250px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #E5EBEA
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 100px;
  text-align: center;
}

.header{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  background-color: #E5EBEA
}
